#video {
    border: 1px solid black;
}

#video h1 {
    font-size: 14px;
    font-style: bold;
}

#video h2 {
    font-size: 12px;
    font-style: normal;
}

#video content {
    font-size: 12px;
    font-style: normal;
}