.widget {
    border: 2px solid burlywood;
    width: 100%;
    height: 100%;
    background-color: floralwhite;
    border-radius: 10px;
}

.widget .list {
    border: 1px solid grey;
    background-color: floralwhite;
    overflow: auto;
    border-radius: 10px;
    max-height: 470px;
    max-width: 500px;
    width: 100%;
    height: 84%;
}

.widget .header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}