.widget {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: floralwhite;
    border-radius: 10px;
}

.widget .list {
    border: 1px solid black;
    background-color: floralwhite;
    overflow: auto;
    border-radius: 10px;
    max-height: 470px;
    max-width: 500px;
    width: 100%;
    height: 108%;
}